
<div *ngFor="let new of news ">    
    <h1>{{new.title}}</h1>
    <p>{{new.author}}</p>
    <p>{{new._tags}}</p>
    <p>{{new.created_at}}</p>
    <a>{{new.url}}</a>
    <p>{{new.comment_text}}</p>
    <p></p>
    <button (click)="deleteNew(new.objectID)">Delete new</button>
</div>